.App {
  text-align: center;
}

/* change button styling once its been clicked */
.remove {
  color: rgb(248, 86, 86);
  text-decoration: line-through;
  :disabled {
    color: grey;
  }
}

/* all buttons add some margin */
.btn {
  margin: 2px;
}

.help {
  position: absolute;
  right: 10px;
  top: 10px;
}
